

<div class="container float-left" id="indx" >
  <div class="row">
    <div class="col-sm-3 ">
        <h4>Filter Project</h4>
        <h5>Sector</h5>
        <%= form_with model: @sector, url: projectfilter_path, local: true do |f|  %>
        <%= f.collection_check_boxes :sector_ids, @sectors,:id,:name do |b| %>
            <div class='form-check '>
                <%=b.check_box(class: "form-check-input ")  %>
                <%=b.label(class: "form-check-label")%>
            </div>
        <% end%>
        <br>
        <h5>Country</h5>
        <%= form_with model: @area, url: projectfilter_path, local: true do |f|  %>
        <%= f.collection_check_boxes :area_ids, @areas,:id,:name do |b| %>
            <div class='form-check'>
                <%=b.check_box(class: "form-check-input")%>
                <%=b.label(class: "form-check-label")%>
            </div>
        <% end%>
        <br>
        <button type="submit" class="btn btn-primary">Filter</button>
        <%end%>
        <% end %><br>
    </div>

    <div class="col-9">
        <div class="row">
          <% @project.each do |project| %>
          <div class='col-8 col-sm-6 col-lg-4' style="padding:15px 15px 15px 15px;">
            <div class="card d-inline-block " style=" height:33rem;">
              <img class="card-img-top" src=<%= project.image %> alt="Card image cap"style=" height:15rem;">
              <div class="card-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= project.funded_amt.to_f/project.funding_target.to_f*100 %>%;" aria-valuenow= <%= project.funded_amt.to_f/project.funding_target.to_f*100 %> aria-valuemin="0" aria-valuemax= "100" >
                  </div>
                </div>
              <h5 class="card-title"><%= project.name %></h5>
              <p class="card-text"><%= project.company_name %></p>
              <p class="card-text"><%= project.objective %></p>
              <a href="/projects/<%= project.id %>" class="btn btn-primary">Find out</a>
          </div>
      </div>
  </div>
  <% end %>
</div>
</div>


</div>
</div>


