<iframe id="player" type="text/html" width="640" height="390" src=<%= @project.video %> frameborder="0">
  </iframe>
<h4>FUNDING</h4>
<hr>
<h1><%= @project.name %></h1>
<h2><%= @project.objective %></h2>
<br>
<h5>PROJECT OWNER</h5>
<p><%= @project.contact_name %></p>
<p><%= @project.area.name %></p>
<hr>

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#1" data-toggle="tab">Story</a></li>
        <li><a href="#2" data-toggle="tab">FAQ</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <%= @project.content_project.html_safe %>
        </div>
        <div class="tab-pane" id="2">
            <%= @project.faq.html_safe %>
        </div>
    </div>
</div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>