<div class="container">

    <div class="row mt-3">
        <div class="col-8">
            <iframe id="player" type="text/html" width="100%" height="100%" src=<%= @project.video %> frameborder="0"></iframe>
        </div>
        <div class="col-4">
            <p class="text-dark m-1"><%= @project.sector.name %></p>
            <h1 class="font-weight-bold"><%= @project.name %></h1>
            <h4 class="mt-4"><%= @project.objective %></h4>
            <p class="h4 mt-5"><%= @project.company_name %>
                <a href=<%= @project.website %> class="fa fa-home ml-3"></a>
                <a href=<%= @project.facebook %> class="fa fa-facebook ml-3"></a>
            </p>
            <p class="m-1">
                <i class="fa fa-phone mr-2"></i>
                <%= @project.telephone %> (<%= @project.contact_name %>)
            </p>
            <p class="m-1"><i class="fa fa-envelope-o mr-2"></i> <%= @project.email %></p>
            <p class="m-1"><%= @project.area.name %></p>
        </div>
    </div>

    <br>

    <div class="mt-5">
        <div class="row">
            <div class="col-8">
                <ul class="nav nav-pills mb-3 h6" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="true">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-company-tab" data-toggle="pill" href="#pills-company" role="tab" aria-controls="pills-company" aria-selected="false">Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-financials-tab" data-toggle="pill" href="#pills-financials" role="tab" aria-controls="pills-financials" aria-selected="false">Financials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-reports-tab" data-toggle="pill" href="#pills-reports" role="tab" aria-controls="pills-reports" aria-selected="false">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-faq-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">Frequently Asked Questions</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab"><%= @project.content_project.html_safe %></div>
                      <div class="tab-pane fade" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab"><%= @project.content_company.html_safe %></div>
                      <div class="tab-pane fade" id="pills-financials" role="tabpanel" aria-labelledby="pills-financials-tab"><%= @project.content_financials.html_safe %></div>
                    <div class="tab-pane fade" id="pills-reports" role="tabpanel" aria-labelledby="pills-reports-tab"><%= @project.content_reports.html_safe %></div>
                    <div class="tab-pane fade" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab"><%= @project.faq.html_safe %></div>
                </div>
            </div>

            <div class="col-4">
                <div class="border bg-light p-4">
                    <h5 class="font-weight-bold mb-4"> We target to raise SGD <%= number_with_delimiter(@target, :delimiter => ',') %>.</h5>
                    <div class="clearfix">
                        <span class="float-left h7"><%= number_with_delimiter(@total, :delimiter => ',') %> SGD raised</span>
                        <span class="float-right h7"><%= number_with_delimiter(@left, :delimiter => ',') %> SGD left </span>
                    </div>
                    <div class="progress m-2">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=<%= @pct_total %> aria-valuemin="0" aria-valuemax="100" style="width:<%= @pct_total %>%">
                        </div>
                    </div>
                    <div class="clearfix mb-4">
                        <span class="float-left h7"><%= @pct_total %>% of target</span>
                        <span class="float-right h7"><%= @days_left %> days left </span>
                    </div>

                    <%= form_with scope: :txn, url: new_txn_path, local: true do |form| %>
                        <input type="hidden" name="txn[project_id]" id="txn_project_id" value=<%= @project.id %>>
                        <input type="hidden" name="txn[unit_id]" id="txn_unit_id" value=<%= @project.unit_id %>>
                        <input type="hidden" name="txn[user_id]" id="txn_user_id" value=<%= @project.user_id %>>
                        <div class="input-group-prepend">
                            <%= form.collection_select :unit_id, @units, :id, :abbr, class:"form-control" %>
                            <%= form.text_field :amount, class:"form-control ml-1" %>
                        </div>
                        <p class="mt-4">
                            <%= form.submit "INVEST", class:"btn btn-danger btn-block h1 p-2", data: { confirm: 'Proceed with investment?' } %>
                        </p>
                    <% end %>
                </div>
                <% if @project.user_id == 1 %>
                    <div class="border h4 mt-5">
                        <p>For site administrators only:</p>
                        <%= link_to 'Edit', edit_project_path(@project) %>
                        <br>
                        <%= link_to 'Delete', project_path(@project),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



