<div class="container" id="userlogin">
 
  <h2 class="heading">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group row">
      <%= f.label :email %><br />
      <%= f.email_field :email, class:"form-control", placeholder:"Enter your email" %>
    </div>

    <div class="form-group row">
      <%= f.label :password %><br />
      <%= f.password_field :password, class:"form-control", placeholder:"Enter the password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>

  
</div>








